.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .texto {
    flex: 1;
  }
  
  .imagem {
    flex: 1;
  }
  
  .imagem img {
    max-width: 100%;
    height: auto;
  }
